* {
    background-color: #131E27;
    color: #fff;
}

.ue {
    text-align: center;
    font-size: 40px;
}

.ue h1 {
    color: #5FF1CF;
}


.punkte {
    display: flex;
    font-size: 20px;
    gap: 110px;
    justify-content: center;
    margin-bottom: 50px;
}
.frage {
    display: flex;
    font-size: 20px;
    justify-content: center;
    

}
.row {
    display: flex;
    justify-content: center;
}



.start {
    display: flex;
    justify-content: center;
}

.btn {
    font-size: 30px;
    height:100px;
    width:100px;
    margin: 20px;
    background-color: #5FF1CF;
    color: #131E27;
}
.btn1 {
    font-size: 30px;
   border-radius: 10px;
    margin: 20px;
    background-color: #5FF1CF;
    color: #131E27;
}